<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>HallServlet</servlet-name>
        <servlet-class>ru.job4j.controller.HallServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HallServlet</servlet-name>
        <url-pattern>/hall</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>ru.job4j.controller.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>ru.job4j.controller.PaymentServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CustomersServlet</servlet-name>
        <servlet-class>ru.job4j.controller.CustomersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomersServlet</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteCustomerController</servlet-name>
        <servlet-class>ru.job4j.controller.DeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCustomerController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
</web-app>